<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="App.Environment" value="Release" />
    <add key="SubDb.Api.Url" value="http://api.thesubdb.com" />
    <!-- In minutes -->
    <add key="Tasks.CheckForVideosJob.Delay" value="30" />
    <!-- In hours -->
    <add key="Tasks.CheckForUpdatesJob.Delay" value="12" />
    <!-- In seconds -->
    <add key="Tasks.CheckInternetAvailability.Delay" value="10" />
  </appSettings>
</configuration>